# config/packages/messenger.yaml
framework:
    messenger:
        transports:
            rabbitmq_user: 'amqp://guest:guest@rabbitmq:5672/%2f?queue[user]=user.registered'
            rabbitmq_product: 'amqp://guest:guest@rabbitmq:5672/%2f?queue[product]=product.created'

        routing:
            'App\Message\UserRegisteredMessage': rabbitmq_user
            'App\Message\ProductCreatedMessage': rabbitmq_product
