# config/packages/messenger.yaml
framework:
    messenger:
        transports:
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
            user_events:
                dsn: 'amqp://guest:guest@rabbitmq:5672/%2f'
                options:
                    queues:
                        user.registered: ~

            product_events:
                dsn: 'amqp://guest:guest@rabbitmq:5672/%2f'
                options:
                    queues:
                        product.created: ~
                        product.updated: ~
                        product.deleted: ~

        routing:
            'App\Message\UserRegisteredMessage': user_events
            'App\Message\ProductCreatedMessage': product_events
            'App\Message\ProductUpdatedMessage': product_events
            'App\Message\ProductDeletedMessage': product_events
