# config/packages/security.yaml
security:
    password_hashers:
        App\Entity\User: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: /
                check_path: /login
                username_parameter: email
                password_parameter: password
                enable_csrf: false
                always_use_default_target_path: true
                default_target_path: /my-products
            logout:
                path: /logout
                target: /

    access_control:
        - { path: ^/api/register, roles: PUBLIC_ACCESS }
        - { path: ^/api/session-check, roles: PUBLIC_ACCESS }
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/logout$, roles: PUBLIC_ACCESS }
        - { path: ^/my-products, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/$, roles: PUBLIC_ACCESS }
