# config/packages/security.yaml
security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api_login:
            pattern: ^/api/(login|register)
            stateless: true

        api:
            pattern: ^/api
            stateless: true
            custom_authenticator: App\Security\ApiTokenAuthenticator

    access_control:
        - { path: ^/api/(login|register), roles: PUBLIC_ACCESS }
        - { path: ^/api, roles: ROLE_USER }
