# config/packages/session.yaml
framework:
    session:
        handler_id: 'session.handler.redis'
        cookie_secure: false
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

services:
    redis.session_client:
        class: Predis\Client
        arguments:
            - 'redis://redis:6379/1'

    session.handler.redis:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler
        arguments:
            - '@redis.session_client'
            - { prefix: 'sf_ses:', ttl: 86400 }
