# config/packages/session.yaml
framework:
    session:
        handler_id: session.handler.redis
        cookie_secure: auto
        cookie_samesite: lax

services:
    session.handler.redis:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler
        arguments:
            - 'redis://redis:6379'
