framework:
    session:
        handler_id: session.handler.redis

services:
    # Создаём клиент Predis вручную
    redis.client:
        class: Predis\Client
        arguments:
            - 'redis://redis:6379'

    session.handler.redis:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler
        arguments:
            - '@redis.client'  # ← передаём готовый клиент
