# docker-compose.yml
version: '3.8'

services:
    php:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/var/www/html
            - var_volume:/var/www/html/var
            - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        working_dir: /var/www/html
        depends_on:
            - database
            - redis
            - rabbitmq
        #expose:
        #    - "9000"
        environment:
            DATABASE_URL: "mysql://app:app@database:3306/app?serverVersion=8&charset=utf8mb4"

    database:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: app
            MYSQL_USER: app
            MYSQL_PASSWORD: app
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql

    nginx:
        image: nginx:alpine
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

    redis:
        image: redis:7-alpine
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data

    rabbitmq:
        image: rabbitmq:3-management
        ports:
            - "5672:5672"     # AMQP
            - "15672:15672"   # Management UI
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest

volumes:
    db_data:
    redis_data:
    var_volume:

