name: Run Tests and Check Coverage

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    tests:
        runs-on: ubuntu-22.04

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_DATABASE: app_test          # ← именно так
                    MYSQL_USER: app
                    MYSQL_PASSWORD: app
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

            redis:
                image: redis:7-alpine
                ports:
                    - 6379:6379

            rabbitmq:
                image: rabbitmq:3-management
                ports:
                    - 5672:5672
                env:
                    RABBITMQ_DEFAULT_USER: guest
                    RABBITMQ_DEFAULT_PASS: guest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  extensions: pdo_mysql, mbstring, zip, xdebug, amqp
                  tools: composer

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest

            -   name: Recreate test database
                run: |
                    mysql -u root -proot -e "DROP DATABASE IF EXISTS app_test;"
                    mysql -u root -proot -e "CREATE DATABASE app_test CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"

            - name: Run migrations for test env
              run: php bin/console doctrine:migrations:migrate --env=test --no-interaction

            - name: Run tests with coverage
              run: php bin/phpunit --coverage-clover=coverage.xml

            - name: Check code coverage ≥ 60%
              uses: codecov/codecov-action@v4
              with:
                  file: ./coverage.xml
                  fail_ci_if_coverage_less_than: 60
